:root {
    --robo-orange: #f36d21;
    --robo-light-gray: #f8f8f8;
    --robo-font-gray: #777777;
    --robo-dark-blue: #89bdd3;
    --robo-light-blue: #9ad3de;
    --robo-dark-gray: #c9c9c9;
}

div#header-nav-outside {
    background: #e3e3e3;
}

.list-group-item {
    border: none !important;
    background: transparent !important;
}

.featured-list-item {
    font-size: 18px;
}
div.videos {
    padding: 40px 0;
    border: 1px dotted var(--robo-orange);
    border-left: none;
    border-right: none;
}
div.intro-copy {
    font-size: 36px;
}
.main-logo-image {
    text-align: center;
    padding: 40px;
}
.jumbotron {
    background-color: var(--robo-light-gray) !important;
    color: var(--robo-font-gray) !important;
}
.btn-robo {
    color: #fff;
    background-color: var(--robo-orange);
}
.huge {
    font-size: 36px;
}
.panel-dark-blue {
    background-color: var(--robo-dark-blue) !important;
}
.panel-light-blue {
    background-color: var(--robo-light-blue);
}
.panel-dark-gray {
    background-color: var(--robo-dark-gray);
}